@import "~styles/utils";

.page-template {
  position: relative;
  left: 0;
  transition: all 0.3s ease-in;
  height: auto;
  min-height: 100vh;

  &.nav-status-true {
    left: 320px;

    .dim {
      z-index: 2000;
      opacity: 1;
      visibility: visible;
    }
  }
  .content {
    z-index: 500;
    position: relative;
    display: block;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    padding-top: 70px;
    box-sizing: border-box;
    background: $oc-gray-1;
  }

  .dim {
    z-index: -10;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
  }
}
