@import "~styles/utils";

$header-height: 70px;
$header-border-color: rgba(0, 0, 0, 0.5);

.header {
  position: fixed;
  display: block;
  width: 100vw;
  height: $header-height;
  border-bottom: 1px solid $header-border-color;
  z-index: 1000;
  text-align: center;

  .header-content {
    display: inline-block;
    width: auto;
    width: 1024px;
    @include media("<large") {
      width: 100%;
    }
  }
}

.logo {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;

  &:before {
    display: inline-block;
    width: 1px;
    height: 100%;
    content: "";
    vertical-align: middle;
  }

  a {
    display: inline-block;
    padding: 3px 20px 7px;
    vertical-align: middle;
  }
}

.header-content {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

  > *:after {
    clear: both;
    display: block;
    content: "";
  }
}

button[type="button"] {
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

.header-menu {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  height: 100%;

  > * {
    padding: 0 20px;
    height: 100%;
    cursor: pointer;
  }
}

.header-search {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -10;

  .search-box {
    display: block;
    width: 100%;
    height: 100%;
    visibility: hidden;

    input[type="text"] {
      display: block;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
    label {
      visibility: hidden;
    }
  }

  [class^="btn-"] {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    width: 65px;
    height: 100%;
  }
}
.header-member {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

.aside-nav {
  z-index: 3000;
  position: fixed;
  left: -320px;
  top: 0;
  display: block;
  width: 320px;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
  background-color: #fff;

  &.navStatus-true {
    left: 0;
    opacity: 1;
    visibility: visible;
  }

  .btn-close {
    display: inline-block;
    height: $header-height;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 20px;
    vertical-align: middle;
  }

  .aside-title {
    display: block;
    height: $header-height;
    font-size: 24px;
    line-height: $header-height;
    border-bottom: 1px solid $header-border-color;
  }

  .aside-menu {
    &:before {
      clear: both;
      display: block;
      content: "";
      width: 100%;
      height: 20px;
    }

    .aside-menu-list {
      .aside-menu-item {
        font-size: 16px;
        line-height: 50px;
      }
    }
  }
}
